.output{
  outline: none;
  border: 7px solid #404B69;
  font-size: 1.5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 100;
  color: white;

  border-radius: 15px;
  display: inline-block;
  width: 270px;
  height: 60px;
  text-align: right;
  margin: 4px;
  background-color: black;
}

.btntext{
  padding: 0px;
  margin: 0px;
  text-align: center
}
.calcbtn{
  color: #444444;
  border: 3px solid #444444;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin: 5px;
  margin-left: 0px;
  background-color: white;
  padding: 0px;
}
.calcbtn a:hover{
  color: #ff6666 !important;
}
.link{
  text-decoration: none;
  font-size:1rem;
  font-family: 'Arvo';
  font-weight: 900;
  color: #444444;
}
.btn {
  outline: none;
  border: 7px solid #404B69;
  font-size: 1.1rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 3px;
  background-color: white;
}
.AC{
  font-size: 1rem;
}
